.section-banner {
  position: relative;
  padding-top: 70px;
  margin-bottom: 75px;

  &__sidebar {
    width: 380px;
  }

  &__logo {
    width: 252px;
    display: block;
    margin: 0 auto 70px;
  }

  &__wrap-img {
    height: 100%;
  }

  &__banner {
    position: relative;
    margin-left: 6.4%;
    flex-grow: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 8.75%;
    padding-right: 8.75%;
    padding-left: 8.75%;
    text-align: right;
    z-index: 1;

  }

  &__info {
    display: inline-block;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-weight: 500;
    line-height: 1;
    text-align: right;
    margin-bottom: 70px;

    .sub-text {
      display: flex;
      justify-content: space-between;
    }

    .building-area {
      line-height: .75;
      font-size: 175px;
      font-weight: 400;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .name-object {
      font-weight: 600;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    margin-left: 50px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }

  &__nav-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: $dark-100;
    border-bottom: 1px solid $gold;
    padding: 22px 30px 22px 35px;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      color: $gold;
    }
  }

  &__nav-icon {
    width: 41px;
    height: 42px;
    margin-right: 35px;
  }

  @include respond-to($xxl) {
    .building-area {
      font-size: 144px;
    }
  }

  @include respond-to($xl) {
    .building-area {
      font-size: 122px;
    }
    .section-banner__banner {
      margin-left: 4.5%;
    }
    .section-banner__nav {
      padding-bottom: 40px;
    }
    .section-banner__content {
      padding-bottom: 4.75%;
      padding-right: 4.75%;
      padding-left: 4.75%;
    }

    .section-banner__info {
      margin-bottom: 55px;
    }

    .section-banner__nav-link {
      padding: 15px 20px;
    }
    .section-banner__nav-icon {
      margin-right: 25px;
    }
  }

  @include respond-to($lg) {
    .container {
      flex-wrap: wrap;
      position: relative;
    }

    .section-banner__banner {
      width: 100%;
      margin-left: 0;
      order: 1;
      height: 680px;
    }
    .section-banner__sidebar {
      width: 100%;
      order: 2;
      display: flex;
    }
    .section-banner__nav {
      width: 50%;
      padding-top: 20px;
    }
    .section-banner__logo {
      width: 200px;
      margin: auto;
    }
  }

  @include respond-to($md) {
    padding-top: 0;
    .section-banner__content {
      padding-bottom: 50px;
    }
    .container {
      max-width: none;
      padding: 0;
    }
    .section-banner__logo {
      position: absolute;
      top: 45px;
      left: 30px;
      z-index: 2;
    }
    .section-banner__nav {
      width: 100%;
      flex-direction: row;
    }
    .section-banner__nav-link {
      width: 33.33%;

      &:last-child {
        border-bottom: 1px solid $gold;
      }
    }
  }
  @include respond-to($sm) {
    .section-banner__nav-link {
      width: 70%;
      margin: 0 auto;
    }
    .section-banner__nav-icon {
      width: 33px;
      height: 37px;
    }

    .building-area {
      font-size: 95px;
    }
   .section-banner__footer{

      .btn{
        font-size: 15px;
        padding: 15px 10px;
        min-width: 200px;
        margin-left: 20px;
      }
      .btn_glass-dark_from-icon{
        padding-left: 30px;
        margin: 0;
        &:before{
          width: 22px;
          height: 23px;
          left: 25px;
          top: 13px;
        }
      }
    }
  }

  @include respond-to($xs) {
    margin-bottom: 0;
    .section-banner__nav {
      flex-direction: column;
      padding-top: 15px;

    }
    .section-banner__nav-link {
      width: 80%;
      font-size: 16px;
      padding: 23px 20px;
      &:last-child{
        border: none;
      }
    }
    .building-area {
      font-size: 88px;
    }
    .section-banner__info .name-object {
      display: none;
    }
  }
}
