.section-about {
  position: relative;
  padding-top: 195px;
  padding-bottom: 320px;

  .part {
    &_content {
      width: 50%;
      position: relative;
      padding-top: 20px;
      padding-left: 7%;
    }

    &_media {
      position: absolute;
      top: 50%;
      width: 100%;
      left: 100%;
      padding-right: 6%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }

  .text p {
    margin-bottom: 30px;
    line-height: 1.47;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn_read-more {
    display: none;
  }

  .wrap-img {
    max-width: 455px;
    width: 100%;
    margin-left: auto;
  }

  .partners {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    &__link {
      display: inline-block;
      margin-right: 45px;

      &:first-child {
        padding-top: 7px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .heading_anim {
    font-size: 150px;
    letter-spacing: 3rem;
  }

  .section__header {
    margin-bottom: 55px;
  }

  @include respond-to($lg) {
    .heading_anim {
      font-size: 110px;
      letter-spacing: .2em;
    }
    .part_content {
      padding-left: 0;
    }

    .wrap-img {
      max-width: 80%;
    }
  }
  @include respond-to($md) {
    padding-top: 75px;
    padding-bottom: 180px;
    .part_content {
      width: 100%;
    }

    .aside {
      display: none;
    }

    .part_media {
      position: static;
      transform: none;
    }

    .wrap-img {
      max-width: 255px;
      margin: 0 auto 30px;
    }

    .btn_read-more {
      display: inline-block;
      margin-top: 25px;
    }

    .mob-hide {
      display: none;
    }
  }
  @include respond-to($sm) {
    padding-bottom: 180px;
    .section__header {
      margin-bottom: 0;
      .heading_anim {
        letter-spacing: .2em;
        font-size: 63px;
      }
    }

    .text p{
      margin-bottom: 15px;
    }

  }
  @include respond-to($xs){
    .btn_read-more {
      margin-top: 5px;
      padding: 3px;
      min-width: 147px;
    }
  }
}