.section-about {
  position: relative;
  padding-top: 195px;
  padding-bottom: 320px;

  //.section__title {
  //  margin-bottom: 80px;
  //}

  .part {
    width: 50%;

    &_left {
      padding-top: 20px;
      padding-left: 118px;
    }
    &_right {
      padding-right: 100px;
    }
  }

  .text p {
    margin-bottom: 30px;
    line-height: 1.47;
    &:last-child{
      margin-bottom: 0;
    }
  }

  .wrap-img {
    max-width: 455px;
    width: 100%;
    margin-left: auto;
  }
  .partners{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    &__link{
      display: inline-block;
      margin-right: 45px;
      &:first-child{
        padding-top: 7px;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .heading_anim{
    font-size: 150px;
    letter-spacing: 3rem;
    left: 60px;
  }
  .section__header{
    margin-bottom: 55px;
  }
}