.section-documents {
  position: relative;
  padding: 100px 0;

  .section__inner {
    display: flex;
  }

  .section__part_left {
    width: 40%;
  }

  .section__part_right {
    position: relative;
    width: 60%;
    padding: 70px 7.5% 100px;
    color: #fff;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100vw;
      background-color: $dark-100;
    }
  }

  .radio-list__item {
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .documents-list {
    display: none;
    position: relative;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;

    &.active {
      display: block;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: 15px;
      line-height: 1.5;
      font-style: normal;
      font-weight: 700;
      padding: 15px 0;
    }

    &__desc {
      width: 60%;
      max-width: 320px;
    }

    &__btns {
      padding-top: 18px;
      width: 40%;
      flex-shrink: 0;
    }

    .btn {
      min-width: 200px;
    }
  }

  @include respond-to($md) {
    padding-top: 0;
    .section__inner {
      flex-wrap: wrap;
    }

    .section__header {
      margin-bottom: 0;
    }

    .radio-list {
      padding: 0;
    }

    .section__part_left,
    .section__part_right {
      width: 100%;
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 65px;

    }
    .section__part_left {
      padding-top: 18px;
    }
    .section__part_right {
      padding-top: 44px;
    }
    .section__part_right:before {
      left: -50vw;
      right: -50vw;
      width: auto;
    }

    .documents-list__item {
      flex-direction: column;
    }

    .documents-list__desc,
    .documents-list__btns {
      width: 100%;
      max-width: 480px;
    }
  }
  @include respond-to($sm) {
    .radio-list__item {
      margin-bottom: 37px;
      .icon-wrap{
        width: 27px;
        height: 28px;
        flex-shrink: 0;
      }
    }
    .radio {
      font-size: 16px;
      .radio__control {
        margin-right: 28px;
        width: 23px;
        height: 23px;
      }
    }
    .radio input:checked ~ .radio__label {
      font-size: 16px;
    }
    .section__part_left,
    .section__part_right {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}