.section-location {
  background-color: $dark-100;
  padding: 80px 0;
  color: #fff;

  .section__header {
    margin-bottom: 130px;
  }

  .section__title-bg {
    color: rgba(255, 255, 255, 0.05);
  }

  .section__title {
    color: white;
  }

  .location-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 21px;

    &__item {
      display: flex;
      width: 50%;
      margin-bottom: 105px;

      &:nth-child(odd) {
        padding-right: 5%;
      }

      &:nth-child(even) {
        padding-left: 5%;
      }
    }

    &__icon {
      width: 83px;
      height: 83px;
      flex-shrink: 0;
    }

    &__title {
      font-size: 25px;
      line-height: 1.5;
      margin-bottom: 5px;
    }

    &__content {
      padding-left: 35px;
      max-width: 480px;
    }
  }

  @include respond-to($lg) {
    .location-list {
      &__item {
        flex-direction: column;
        align-items: center;
      }

      &__icon {
        width: 103px;
        height: 103px;
        margin-bottom: 10px;
      }

      &__content {
        padding-left: 0;
      }
    }
  }

  @include respond-to($sm) {
    .location-list {
      &__item {
        width: 100%;
        margin-bottom: 25px;
        &:nth-child(n) {
          padding-right: 0;
          padding-left: 0;
        }
      }
      &__content {
        max-width: 305px;
        padding-bottom: 40px;
      }
    }
  }
}