.public-location {
  padding-bottom: 164px;

  .part_left {
    position: relative;
    flex-grow: 1;
  }

  .part_right {
    width: 595px;
  }

  .wrap-map {
    position: absolute;
    right: -15%;
    top: 0;
    bottom: 0;
    max-width: 1440px;
    width: 85vw;
    z-index: -1;

    .img_map {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .field-markers {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  .img-marker {
    width: auto;
    display: block;
    position: absolute;
    z-index: 1;

    &:nth-child(1) {
      bottom: 30%;
      left: 39%;
    }

    &:nth-child(2) {
      bottom: 11%;
      left: 40%;
    }

    &:nth-child(3) {
      top: 25%;
      right: 30%;
    }
  }
}

.public-spaces__list {
  background-color: $gold;
  padding: 56px 47px 47px;
  font-weight: 600;
  color: #ffffff;
  min-height: 647px;

  .preview {
    font-size: 17px;
    padding-bottom: 50px;


    .title {
      font-weight: 600;
      font-size: 55px;
      line-height: 1;
      color: #ffffff;
      font-feature-settings: 'pnum' on, 'lnum' on;
      margin-bottom: 40px;
    }
  }

  .wrap-img {
    width: 50%;
    position: relative;
    padding-top: 56.75%;
    overflow: hidden;
    margin-right: 50px;
    margin-bottom: 5px;
    max-width: 186px;
    float: left;
  }

  .img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
}

.list-places {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;

  &__link {
    display: flex;
    align-items: center;
  }

  &__item {
    width: 50%;
    padding: 5px 25px;
    margin-bottom: 30px;

    &:nth-child(1) {
      .icon:before {
        background-image: url(../assets/img/svg/shopping.svg);
      }
    }

    &:nth-child(2) {
      .icon:before {
        background-image: url(../assets/img/svg/school.svg);
      }
    }

    &:nth-child(3) {
      .icon:before {
        background-image: url(../assets/img/svg/park.svg);
      }
    }

    &:nth-child(4) {
      .icon:before {
        background-image: url(../assets/img/svg/station.svg);
      }
    }
  }

  .icon {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 18px;

    &:before {
      position: absolute;
      content: '';
      width: 45px;
      height: 45px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


@include respond-to($xl) {
  .public-location {
    .container {
      padding: 0;
    }

    .public-spaces__list {
      min-height: 0;
      padding: 30px;

      .wrap-img {
        padding-top: 45%;
        max-width: 150px;
        margin-right: 30px;
      }

      .title {
        font-size: 46px;
      }
    }
  }
}

@media #{lg} and (min-width: 941px) {
  .public-location {
    .container {
      max-width: none;
    }
  }
}

@include respond-to($lg) {
  .public-location {
    .container {
      padding: 0 30px;
    }
    .part_right {
      width: 50%;
    }

    .wrap-map {
      right: 0;
      width: 50vw;
    }
  }
}

@include respond-to($md) {
  .public-location {
    .container {
      flex-direction: column;
    }

    .part_right {
      width: 100%;
    }

    .wrap-map {
      position: relative;
      left: 50%;
      width: 100vw;
      transform: translateX(-50%);
      height: 400px;
    }
  }
}


@include respond-to($sm) {
  .public-location {
    .part_right {
      .wrap-img {
        display: none;
      }
    }
  }
}