.section-investments {
  position: relative;
  overflow: hidden;

  .part_content {
    position: relative;
    width: 50%;
    min-height: 800px;
    padding: 90px 20px 120px 7%;
  }

  .part_media {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    left: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  .section__header {
    margin-bottom: 90px;
  }

  .profit {
    display: flex;
    align-items: center;
    color: $gold;
    font-weight: 600;
    font-size: 35px;
    line-height: 1;
    padding-bottom: 60px;
  }

  .percent {
    font-weight: 500;
    font-size: 86px;
    padding-right: 33px;
  }

  .text {
    max-width: 570px;
    width: 100%;
    margin-bottom: 96px;
  }

  @include respond-to($lg) {
    .section__title-bg {
      left: -0.5em;
    }
    .part_content {
      padding-left: 0;
    }
    .profit {
      font-size: 22px;
      line-height: 30px;
      padding-bottom: 40px;
    }
    .percent {
      font-size: 70px;
      padding-right: 20px;
    }
    .part_media {
      padding-left: 0;
    }
  }

  @include respond-to($md) {
    .part_content {
      width: 100%;
      display: flex;
      flex-direction: column;

      .text {
        order: 1;
        margin-bottom: 0;
      }
    }
    .part_media {
      position: static;
      display: block;
      order: 2;
    }

    .wrap-img {
      max-width: 335px;
      margin: 0 auto -30px;
      z-index: 1;
    }

    .profit {
      position: relative;
      order: 3;
      z-index: 3;
    }

    .wrap-btn {
      order: 4;
    }
  }
  @include respond-to($sm) {
    .part_content {
      padding-top: 20px;
      padding-right: 0;
    }
    //.section__title-bg {
    //  top: 45px;
    //}
    .section__header {
      margin-bottom: 0;
    }
  }
  @include respond-to($xs){
    .profit {
      padding-bottom: 47px;
    }
  }
}


