.section-investments {
  position: relative;
  overflow: hidden;
  padding-top: 60px;

  &:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $dark;
    background-image: url(../assets/img/bg-dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    min-height: 135px;
  }

  .part_content {
    position: relative;
    width: 55%;
    min-height: 720px;
    padding: 90px 20px 20px 7%;
  }

  .part_media {
    position: absolute;
    display: flex;
    align-items: center;
    width: 85%;
    left: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  .section__header {
    margin-bottom: 90px;
  }

  .profit {
    display: flex;
    align-items: center;
    color: $gold;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    padding-bottom: 24px;

    .img-wrap {
      display: none;
    }
  }

  .percent {
    font-weight: 500;
    font-size: 85px;
    padding-right: 30px;
  }

  .article-heading {
    margin-bottom: 12px;

    &__item {
      font-size: 30px;
      font-weight: 400;
      color: #3C3C3C;
      margin-right: 76px;
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }

      .img {
        width: 93px;
      }
    }
  }

  .article,
  .description {
    max-width: 570px;
    width: 100%;
    font-weight: 300;
    line-height: 1.29;

    p {
      margin-bottom: 29px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .article {
    margin-bottom: 29px;
  }

  .reasons-investing {
    position: relative;
    flex-wrap: wrap;
    padding-bottom: 28px;
    box-shadow: 0 0 37px rgba(0, 0, 0, 0.11);
    background-color: transparent;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    max-width: 1582px;

    .text {
      width: 100%;
      background-color: transparent;
      padding-left: 90px;
      color: #ffffff;
    }

    .part {
      margin-bottom: 15px;

      &_left {
        position: relative;
        background-color: #ffffff;
        padding: 25px 76px 20px;
        display: flex;
        max-width: 620px;
        width: 40%;

        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 100px 0 100px 100px;
          border-color: transparent transparent transparent #ffffff;
          right: -99px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &_right {
        background-color: $gold;
        width: 60%;
        flex-grow: 1;
        padding: 20px 5% 23px 150px;
      }

      .text_lg {
        padding-top: 10px;
        font-weight: 500;
      }
    }

    &__icon-wrap {
      width: 165px;
      height: 153px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      flex-shrink: 0;
      margin-right: 76px;
    }

    &__list {
      font-weight: 600;
      font-size: 23px;
      color: #ffffff;
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      position: relative;
      width: 50%;
      margin-bottom: 5px;
      padding: 10px 10px 10px 21px;

      &:last-child {
        width: 100%;
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #ffffff;
        display: block;
        top: 1em;
        left: 0;
      }
    }
  }

  @include respond-to($xxl) {
    .reasons-investing .part_left {
      align-items: center;
      padding-right: 10px;

      &:before {
        border-width: 126.5px 0 126.5px 100px;
      }
    }
  }
  @include respond-to($xl) {
    .reasons-investing {
      .part_left {
        padding-left: 40px;

        &:before {
          border-width: 100px 0 100px 100px;
        }
      }

      &__icon-wrap {
        margin-right: 40px;
        width: 140px;
        height: 133px;
      }

      &__list {
        font-size: 18px;
      }

      .part .text_lg {
        font-size: 25px;
      }
    }
  }
  @include respond-to($lg) {
    .section__title-bg {
      left: -0.5em;
    }
    .part_content {
      padding-left: 0;
    }
    .profit {
      font-size: 22px;
      line-height: 30px;
      padding-bottom: 40px;
    }
    .percent {
      font-size: 70px;
      padding-right: 20px;
    }
    .part_media {
      padding-left: 0;
    }
    .reasons-investing {
      .part_left {
        &:before {
          display: none;
        }
      }

      .part {
        width: 50%;
      }

      .part_right {
        padding-left: 44px;
      }
    }
  }
  @include respond-to($md) {
    padding-top: 30px;
    .part_content {
      width: 100%;
      display: flex;
      flex-direction: column;

      .article {
        order: 3;
      }

      .description {
        order: 1;
        margin-bottom: 0;
      }
    }
    .part_media {
      position: static;
      display: block;
      width: 100%;
      order: 2;
    }

    .wrap-img {
      max-width: 335px;
      margin: 0 auto -30px;
      z-index: 1;
    }

    .profit {
      position: relative;
      order: 3;
      z-index: 3;
    }

    .reasons-investing {
      .text {
        padding: 0 44px;
        color: $dark;
        margin-bottom: 28px;
      }

      .part {
        width: 100%;
      }

      .part_right {
        order: 1;
      }
    }
  }
  @include respond-to($sm) {
    padding-top: 60px;
    .part_content {
      padding-top: 20px;
      padding-right: 0;
    }
    .section__header {
      margin-bottom: 0;
    }
    .reasons-investing {
      box-shadow: none;

      &__item {
        width: 100%;
      }

      &__icon-wrap {
        width: 260px;
        height: 242px;
        margin: 0 auto;
      }

      .part {
        margin-bottom: 28px;

        .text_lg {
          padding-top: 28px;
        }

        &_left {
          flex-wrap: wrap;
          padding-left: 8px;
          padding-right: 0;
          padding-bottom: 0;
        }
      }

      .text {
        padding: 0 12px;

      }
    }
  }
  @include respond-to($xs) {
    .profit {
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 20px;

      span {
        display: inline-block;
        font-size: 20px;
        line-height: 1.35;
      }

      .percent {
        margin-bottom: 12px;
        font-size: 60px;
        line-height: .9;
        width: 50%;
        padding-right: 0;
      }

      .img-wrap {
        display: inline-block;
        width: 50%;
        margin-bottom: 12px;
      }

      .img {
        width: 112px;
      }
    }
    .article {
      margin-bottom: 40px;
    }
    .article-heading__item {
      font-size: 28px;

      .img {
        display: none;
      }
    }
    .reasons-investing{
      .part_right{
        padding-left: 38px;
        padding-top: 10px;
        padding-bottom: 14px;
      }
      &__item{
        padding-left: 40px;
        &:before{
          width: 17px;
          height: 12px;
          background-image: url(../assets/img/svg/check.svg);
          background-repeat: no-repeat;
          background-position: center;
          -webkit-background-size: cover;
          background-size: cover;
          border-radius: 0;
          background-color: transparent;
          left: 0;
        }
      }
    }
  }
}

.goal-fond {
  display: flex;
  position: relative;
  margin-bottom: 140px;
  z-index: 1;

  &__item {
    position: relative;
    width: 20%;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    &:after {
      position: absolute;
      content: '';
      display: block;
      background-color: $gold;
      height: 1px;
      left: 0;
      top: 80px;
      width: 100%;
      z-index: 1;
    }
    &:first-child:after{
      left: 40%;
    }
    &:last-child:after{
      right: 60%;
      left: auto;
    }
  }

  &__top-content,
  &__text {
    max-width: 130px;
    padding: 0 5px;
    width: 100%;
    margin: 0 auto;
  }

  &__top-content {
    font-weight: 500;
    font-size: 30px;
    color: $gold;
    padding-bottom: 40px;
  }

  &__text {
    padding-top: 28px;
    position: relative;
    &:before,
    &:after{
      position: absolute;
      content: '';
      display: block;
      z-index: 2;
    }
    &:before {
      width: 18px;
      height: 18px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 4px solid $gold;
      transform: translateY(-50%);
      top: 0;
      left: 25%;
    }
    &:after{
      width: 33px;
      height: 8px;
      background-image:url(../assets/img/svg/arrow.svg);
      background-repeat: no-repeat;
      background-size: initial;
      background-position: center;
      transform: rotate(-90deg);
      top: -23px;
      left: 22.25%;
      z-index: 1;
    }
  }

  @include respond-to($md) {
    flex-wrap: wrap;
    margin-bottom: 92px;
    &__item {
      padding-left: 73px;
     padding-bottom: 50px;
      width: 100%;
      &:after {
        left:11px;
        width: 1px;
        height: 100%;
        top: 0;
        bottom: 0;
      }
      &:first-child:after{
        top: 40%;
        left: 11px;
      }
      &:last-child:after{
        left: 11px;
        top: auto;
        bottom: 60%;
      }
    }
    &__top-content,
    &__text {
      max-width: 100%;
    }
    &__top-content {
      padding-bottom: 0;
    }
    &__text {
      padding-top: 5px;

      &:before {
        width: 16px;
        height: 16px;
        border-width: 3px;
        top: 0;
        left: -73px;
        transform: translateY(-50%);
      }
      &:after{
        transform: rotate(0deg);
        top: -6px;
        left: -62px;
        width: 45px;
        height: 11px;
      }
    }
  }
  @include respond-to($sm) {

  }
}


