.section-investments {
  position: relative;

  .part {
    width: 50%;
  }

  .part_left {
    padding-top: 90px;
    padding-left: 118px;
    padding-right: 20px;
  }

  .section__header {
    margin-bottom: 90px;
  }

  .profit {
    display: flex;
    align-items: center;
    color: $gold;
    font-weight: 600;
    font-size: 35px;
    line-height: 1;
    padding-bottom: 60px;
  }

  .percent {
    font-weight: 500;
    font-size: 86px;
    padding-right: 33px;
  }

  .text {
    max-width: 570px;
    width: 100%;
    margin-bottom: 96px;
  }
}

