.section-intro {
  padding: 60px 0 100px;
  overflow: hidden;

  &__content {
    position: relative;
    display: flex;
    min-height: 690px;
    padding: 90px 7.5% 80px;
    color: #fff;
    pointer-events: none;
    z-index: 2;
  }

  &__part {
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__inner {
    position: relative;
  }

  &__title {
    position: relative;
    display: inline-block;
    font-size: 66px;
    font-weight: 600;
    line-height: 1;
    font-family: Raleway, sans-serif;
    padding: 50px 30px 40px 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    mix-blend-mode: multiply;
    margin-bottom: 40px;
    max-width: 550px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100vw;
      background-color: #FCC214;
      opacity: .6;
      mix-blend-mode: multiply;
      z-index: 0;
    }

    span {
      position: relative;
      z-index: 3;
    }
  }

  .swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .swiper-slide {
    padding: 0 8%;
    height: 100%;
  }

  .banner__inner {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .logo-big {
    max-width: 327px;
    width: 50%;
    margin-left: auto;
  }

  .social-bar {
    display: flex;
    justify-content: flex-end;

    .social__link {
      pointer-events: all;
      display: block;
      width: 22px;
      margin-left: 45px;
      transition: .35s;

      &:first-child {
        margin-left: 0;
      }

      &:hover,
      &:focus {
        svg {
          path {
            fill: $gold;
          }
        }
      }
    }

    .icon-svg {
      width: 100%;

      path {
        fill: #ffffff;
      }
    }
  }

  .block-btn {
    pointer-events: all;

    .btn {
      display: block;
    }

    .btn_gold {
      margin-bottom: 28px;
    }
  }

  .swiper-pagination-bullets {
    left: 0;
    right: 0;
    pointer-events: all;
    bottom: 23px;
  }

  @include respond-to($xl) {
    .section-intro__title {
      font-size: 50px;
    }
  }

  @include respond-to($lg) {
    .section-intro__title {
      margin-top: 50px;
      font-size: 42px;
    }
  }

  @include respond-to($md) {
    padding: 0;

    .section-intro__title {
      font-size: 38px;
      line-height: 45px;
    }
    .section-intro__content {
      flex-direction: column;
    }
    .section-intro__part_left,
    .section-intro__part_right {
      width: 100%;
      order: 2;
    }
    .section-intro__part_right {
      order: 1;
    }
    .social-bar {
      display: none;
    }
    .logo-big {
      width: 158px;
      height: 158px;
      margin-left: 0;
    }
    .container {
      padding: 0;
    }
    .swiper-slide {
      padding: 0;
    }
  }

  @include respond-to($sm) {
    padding-bottom: 60px;
  }

  @media (max-width: 340px) {
    .section-intro__title {
      font-size: 32px;
    }
  }
}

