.section-advantages {
  background-color: #403E3D;
  background-image:  linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.07) 51.12%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.01);
  border-bottom: 0.5px solid #FCC21D;
  color: #ffffff;
  .heading{
    position: relative;
  }
  .container {
    position: relative;
  }

  &__header {
    display: flex;
    width: 100%;
    padding-bottom: 35px;
    background-color: transparent;
    position: relative;
    top: -140px;
    z-index: 1;

    .text_lg {
      font-weight: 600;
    }

    .heading_anim .white {
      margin-top: 100px;
    }
  }


  &__content {
    padding-left: 65px;
    padding-top: 20px;
    max-width: 1025px;
    width: 80%;

    .text {
      padding-top: 35px;
    }
  }

  .big-logo {
    width: 303px;
  }
}

.advantages {
  width: 100%;
  display: flex;
  padding-top: 75px;
  padding-bottom: 87px;
  justify-content: space-between;

  &__item {
    max-width: 385px;
    padding: 0 14px;
    width: 30%;
  }
}

.advantages-card {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.47;

  &__wrap-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 38px;
    min-height: 350px;
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.33;
    margin-bottom: 13px;
  }
}