
.section-projects {
  position: relative;
  padding-top: 63px;
  padding-bottom: 86px;

  .section__header {
    justify-content: center;
    margin-bottom: 43px;

  }

  .section__title {
    color: #ffffff;
    text-align: center;

  }

}


// CARD LIST

.card-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 63px 0;

  &_single {
    // add this class if list contains only one card
    .card:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &_duo {
    //add this class if list contains 2 cards
    .card-list__item:nth-child(odd) {
      .card:before {
        left: 0;
        transform: translateX(-50%);
      }
    }

    .card-list__item:nth-child(even) {
      .card {
        margin-top: 150px;

        &:before {
          right: 0;
          transform: translateX(50%);
        }
      }
    }
  }

  &_multiple {
    .card-list__item {
      margin-bottom: 190px;

      &:nth-child(5n+1),
      &:nth-child(5n+4) {
        .card:before {
          left: 0;
          transform: translateX(-50%);
        }
      }

      &:nth-child(5n+3),
      &:nth-child(5n+5) {
        .card:before {
          right: 0;
          transform: translateX(50%);
        }
      }

      &:nth-child(5n+2) {
        .card:before {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .card-list__item:nth-child(5n+4),
    .card-list__item:nth-child(5n+5) {
      width: 33.34%;
      flex-shrink: 0;
    }

    .card-list__item:nth-child(5n+2) {
      .card {
        margin-top: 150px;
      }
    }
  }

  &__item {
    width: 33.33%;
    flex-shrink: 0;
  }

  .card {
    position: relative;
    display: block;
    width: 410px;
    height: 690px;
    margin-left: auto;
    margin-right: auto;
    transition: .35s;

    &:before {
      content: '';
      position: absolute;
      width: 102px;
      border: 2px solid $gold;
      top: -44px;
      bottom: -44px;
      z-index: 1;
      transition: background .35s;
    }

    &:hover {

      box-shadow: 0 4px 42px 16px rgba(252, 194, 29, 0.4);

      .card__inner {
        transform: scale(1.025);
      }

      &:before {
        background-color: $gold;
      }
    }

    &__inner {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      background: #000 center no-repeat;
      background-size: cover;
      z-index: 1;

      transition: .35s;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, #403E3D 2.77%, rgba(64, 62, 61, 0) 49.94%);
      }

      & > * {
        position: relative;
      }
    }

    &__title {
      padding-top: 15px;
      font-size: 55px;
      line-height: 1.5;
      font-weight: 600;
      font-family: Raleway, sans-serif;

    }

    &__sub-title {
      font-weight: 600;
      line-height: 23px;
    }

    &__footer {
      font-size: 30px;
      line-height: 1.5;
      font-weight: 400;
      color: $gold;
      padding-bottom: 30px;
    }
  }
  @media #{$xxl} and (min-width: 1441px)  {
    .card {
      width: 350px;
      height: 580px;

      &__title {
        font-size: 40px;
        line-height: 1.25;
      }

      &__footer {
        font-size: 25px;
        padding: 5px;
      }
    }
  }

  @media #{$xl} and (min-width: 1181px)  {
    .card-list__item {
      margin-bottom: 150px;
    }
    .card {
      width: 290px;
      height: 480px;

      &:before {
        width: 70px;
        top: -30px;
        bottom: -30px;
      }

      &__inner {
        padding: 20px;
      }

      &__title {
        font-size: 32px;
      }

      &__footer {
        font-size: 20px;
      }
    }
  }

  @media #{$lg} and (min-width: 941px)  {
    justify-content: space-between;
    .card-list__item {
      .card {
        width: 290px;
        height: 480px;
        &__title {
          font-size: 32px;
          line-height: 1.25;
        }
        &__footer {
          font-size: 24px;
        }
      }

      &:nth-child(odd) .card {
        &:before {
          transform: translateX(-50%);
          left: 0;
        }
      }

      &:nth-child(even) .card {
        &:before {
          left: auto;
          right: 0;
          transform: translateX(50%);
        }
      }

      &:nth-child(2n+3) {
        .card {
          margin-top: -100px;
        }
      }

      &:nth-child(n) {
        width: 50%;
      }
    }
  }

  @include respond-to($md) {
    justify-content: center;
    .card-list__item {
      &:nth-child(n) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
        width: 100%;
        .card {
          margin-top: 0;
        }
      }
      .card {
        width: 280px;
        height: 410px;
        &:before {
          top: -14px;
          bottom: -14px;
          width: 58px;
        }
        &__title {
          font-size: 32px;
          line-height: 1.1;
        }
        &__footer {
          font-size: 18px;
        }
        &__inner {
          padding: 30px 20px;
        }
      }
    }
  }
}


@include respond-to($sm) {
  .home {
    .section-projects {
      .filter {
        display: none;
      }
    }
  }
}

