.section-intro {
  padding: 60px 0 0;
  overflow: hidden;
  &__inner {
    position: relative;
  }
  &__content {
    position: relative;
    display: flex;
    min-height: 690px;
    padding: 90px 7.5% 80px;
    color: #fff;
    pointer-events: none;
    z-index: 2;

  }

  &__part {
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



  &__title {
    position: relative;
    display: inline-block;
    font-size: 66px;
    font-weight: 600;
    line-height: 1;
    font-family: Raleway, sans-serif;
    padding: 50px 30px 40px 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    max-width: 550px;
    mix-blend-mode: multiply;
    margin-right: 14%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100vw;
      background-color: #FCC214;
      opacity: .6;
      mix-blend-mode: multiply;
      z-index: 0;
    }

    span {
      position: relative;
      z-index: 3;
    }
  }


  .swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transform: translateX(-100%);
      }


  &__part_left {
    transform: translateX(-140%);
  }


  .swiper-slide {
    padding: 0 8%;
    height: 100%;
  }

  .banner__inner {
    height: 100%;
  }

  .banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .logo-big {
    max-width: 325px;
    width: 50%;
    margin-left: auto;
    overflow: hidden;
    display: block;
    opacity: 0;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .social-bar {
    display: flex;
    justify-content: flex-end;

    .social__link {
      pointer-events: all;
      display: block;
      width: 22px;
      margin-left: 60px;
      transition: .35s;

      &:first-child {
        margin-left: 0;
      }

      &:hover,
      &:focus {
        svg {
          path {
            fill: $gold;
          }
        }
      }
    }

    .icon-svg {
      width: 100%;

      path {
        fill: #ffffff;
      }
    }
  }

  .block-btn {
    pointer-events: all;

    .btn {
      display: block;
    }

    .btn_gold {
      margin-bottom: 28px;
    }
  }

  .swiper-pagination-bullets {
    left: 0;
    right: 0;
    pointer-events: all;
    bottom: 23px;
  }


  &.banner_anim {
    .swiper-container {
      transform: translateX(0);
      transition: 1s all .95s linear;
    }

    .section-intro__part_left {
      transform: translateX(0);
      transition: 1s all 1s ease-out;
    }

    .logo-big {
      opacity: 1;
      transform-origin: bottom center;
      transition: 1.6s all 1.25s linear;
    }
  }

  @include respond-to($xl) {
    .section-intro__title {
      font-size: 50px;
    }
  }
  @include respond-to($lg) {
    .section-intro__title {
      margin-top: 50px;
      font-size: 42px;
    }
  }
  @include respond-to($md) {
    padding: 0;

    .section-intro__title {
      font-size: 38px;
      line-height: 45px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .section-intro__content {
      flex-direction: column;
    }
    .section-intro__part_left,
    .section-intro__part_right {
      width: 100%;
      order: 2;
    }
    .section-intro__part_right {
      order: 1;
    }
    .social-bar {
      display: none;
    }
    .logo-big {
      width: 158px;
      height: 158px;
      margin-left: 15px;
    }
    .container {
      padding: 0;
    }
    .swiper-slide {
      padding: 0;
    }
  }
  @include respond-to($sm) {

    .section-intro__part {
      flex-grow: 1;
    }

    .section-intro__content {
      padding: 50px 3.5% 60px;
    }
    .block-btn {
      margin-top: auto;
      display: flex;
      align-items: stretch;
      justify-content: center;

      .btn {
        font-size: 15px;
        padding: 15px 10px;
        min-width: 200px;
        margin-bottom: 0;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }


      .btn_glass-dark_from-icon {
        padding-left: 30px;
        margin: 0;

        &:before {
          width: 22px;
          height: 23px;
          left: 25px;
          top: 13px;
        }
      }
    }
  }
  @include respond-to($xs) {
    .logo-big {
      width: 148px;
      height: 148px;
    }
    .block-btn {
      .btn {
        width: 144px;
        min-width: 0;
      }

      .btn_glass-dark_from-icon {
        padding: 23px 5px 5px;

        &:before {
          left: 50%;
          transform: translateX(-50%);
          top: 9px;
        }
      }
    }
    .section-intro__title {
      padding-top: 20px;
      padding-bottom: 30px;
      margin-right: 20px;
    }

  }
  @media (max-width: 340px) {
    .section-intro__title {
      font-size: 32px;
    }
  }
}

