.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: .35s;
  border: 2px solid;
  color: #ffffff;
  font-weight: 600;

  &_gold {
    background-color: $gold;
    border-color: $gold;
  }

  &_glass-dark {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #FFFFFF;
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_big {
    min-width: 290px;
    padding: 22px;
    font-size: 18px;
  }
  &_sm {
    min-width: 180px;
    font-size: 15px;
    padding: 12px;
  }

}

