.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: .35s;
  border: 2px solid;
  color: #ffffff;
  font-weight: 600;

  &_gold {
    background-color: $gold;
    border-color: $gold;
  }

  &_glass-dark {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #FFFFFF;
  }

  &_white {
    background-color: #ffffff;
    border-color: $gold;
    color: $dark-100;
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_big {
    min-width: 290px;
    padding: 22px;
    font-size: 18px;
  }

  &_sm {
    min-width: 180px;
    font-size: 15px;
    padding: 12px;
  }

  &_white-icon {
    padding-left: 76px;
    position: relative;

    &:before {
      position: absolute;
      display: block;
      content: '';
      background-image: url(../assets/img/svg/phone.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 28px;
      height: 30px;
      left: 45px;
      top: 17px;
      z-index: 1;
      filter: invert(1);
    }
  }

  &:disabled {
    opacity: .3;
  }
}

