.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: .35s;
  font-family: $main-font;
  border: 2px solid;
  color: #ffffff;
  font-weight: 600;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 0px 17px #FCC21D);
  }

  &_gold {
    background-color: $gold;
    border-color: $gold;
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_big {
    min-width: 290px;
    padding: 22px;
    font-size: 18px;
  }

  &_sm {
    min-width: 180px;
    font-size: 15px;
    padding: 12px;
  }

  &_glass-dark {
    background: rgba(64, 62, 61, 0.5);
    border: 2px solid #ffffff;
    color: #ffffff;

    &:hover,
    &:focus {
      background-color: #ffffff;
      border-color: $gold;
      color: $dark-100;
    }

  }

  &_glass-dark_from-icon {
    padding-left: 76px;
    position: relative;

    &:before {
      position: absolute;
      display: block;
      content: '';
      background-image: url(../assets/img/svg/phone.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 28px;
      height: 30px;
      left: 45px;
      top: 17px;
      z-index: 1;

    }

    &:hover::before,
    &:focus::before {
      filter: invert(1);
    }
  }
  &_white {
    background-color: #ffffff;
    border-color: $gold;
    color: $dark-100;
    padding-left: 76px;
    position: relative;

    &:before {
      position: absolute;
      display: block;
      content: '';
      background-image: url(../assets/img/svg/phone.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 28px;
      height: 30px;
      left: 45px;
      top: 17px;
      z-index: 1;
      filter: invert(1);
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: .3;
  }

  @include respond-to($xl) {
    &_big {
      min-width: 260px;
    }
  }
}

