.nice-select {
  border-radius: 0;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;

  &.open {
    background-color: #f1f1f1;
  }

  &:after {
    position: relative;
    top: auto;
    right: auto;
    margin-left: 18px;
    border-bottom: 2px solid $gold;
    border-right: 2px solid $gold;
    margin-top: 1px;
  }

  .current {
    color: #000;
    font-size: 18px;
    font-weight: 400;
  }

  .list {
    margin-top: 0;
    right: 0;
    transition: all .2s, opacity .4s linear;
    transform-origin: 50%;
    transform: scale(1) translateY(0px);
    opacity: 0;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 0 35px -3px rgba(0, 0, 0, 0.1);
    border-radius: 0;

    &.open {
      opacity: 1;
    }
  }

  .option {
    text-align: center;
    position: relative;
    padding: 25px 40px;
    line-height: 1.25;
    white-space: normal;

    &:first-child {
      display: none;
    }

    &:after {
      position: absolute;
      content: '';
      display: block;
      height: .5px;
      background-color: rgba(0, 0, 0, 0.2);
      left: 40px;
      right: 40px;
      bottom: 0;

    }

    &:last-child:after {
      display: none;
    }

    &:hover,
    &.focus,
    &.selected.focus {
      background-color: rgba(252, 194, 29, 0.3);
      -webkit-text-stroke: .5px #000000;
    }
  }

  @include respond-to($md) {
    height: 63px;
    padding-left: 23px;
    padding-right: 24px;
    justify-content: space-between;
    .current {
      font-size: 19px;
      color: #8b8b8b;
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  height: 85px;
  display: block;
  text-align: center;
  width: 100%;
  padding-left: 18px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 400;
  @include respond-to($md) {
    height: 63px;
    padding-left: 23px;
    padding-right: 24px;
    text-align: left;
  }
}