//swiper pagination-bullets

.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 23px;
  z-index: 10;
}
.swiper-pagination-bullets .swiper-pagination-bullet{
  width: 9px;
  height: 9px;
  background-color: transparent;
  border: 1px solid #ffffff;
  margin: 0 7px;
  opacity: 1;
  &.swiper-pagination-bullet-active{
    background-color: $gold;
  }
}

.swiper-container-initialized .swiper-wrapper {
  flex-wrap: nowrap!important;
}