$main-font: 'Raleway', sans-serif;

$dark: #3c3c3c;
$dark-100: #403e3d;
$gold: #fcc214;
// Screen Variables

$xxs: '(max-width: 320px)';
$xs: '(max-width: 480px)';
$sm: '(max-width: 760px)';
$md: '(max-width: 940px)';
$lg: '(max-width: 1180px)';
$xl: '(max-width: 1440px)';
$xxl: '(max-width: 1680px)';
