.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body {
  font: 400 17px $main-font;
  color: $dark;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.bg_dark {
  background-color: $dark;
  background-image: url(../assets/img/bg-dark.svg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center 0;

}

.d-flex {
  display: flex;
}

.main {
  padding-top: 135px;
}

.section__title {
  font-weight: 500;
  font-size: 55px;
  color: $dark-100;
}

.dynamic-content {
  p {
    font-size: 17px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {

  }

  ul {


    li {

    }
  }
}

.heading_anim {

  font-weight: 600;
  font-size: 140px;
  line-height: .5;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  span {
    display: inline-block;
  }

  &_dark{
    color: rgba(0, 0, 0, .03);
    -webkit-text-stroke: 2px rgba(0, 0, 0, .03);
  }
  .white,
  &_white{
    -webkit-text-stroke: 2px rgba(255, 255, 255, .03);
    color: rgba(255, 255, 255, .03);
  }
}

