.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body {
  font: 400 17px/1.25 $main-font;
  color: $dark;
  font-feature-settings: 'pnum' on, 'lnum' on;
  @include respond-to($sm) {
    font-size: 16px;
  }
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.bg_dark {
  background-color: $dark;
  background-image: url(../assets/img/bg-dark.svg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center 0;

}

.d-flex {
  display: flex;
}

.main {
  padding-top: 135px;
  @include respond-to($lg) {
    padding-top: 85px;
  }
}

.section__title {
  font-weight: 500;
  font-size: 55px;
  color: $dark-100;
  @include respond-to($md) {
    padding-top: 20px;
    font-size: 50px;
  }
  @include respond-to($sm) {
    font-size: 40px;
    margin: 0 auto;
  }
}

.dynamic-content {
  p {
    font-size: 17px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-to($sm) {
      font-size: 16px;
    }
  }
}

.heading_anim {
  font-weight: 600;
  font-size: 140px;
  line-height: .5;
  letter-spacing: 0.2em;
  white-space: nowrap;
  text-transform: uppercase;
  transition: width 1.8s;
  z-index: 3;

  span {
    display: inline-block;
  }

  &_dark {
    color: rgba(0, 0, 0, .03);
    -webkit-text-stroke: 2px rgba(0, 0, 0, .03);
  }

  .white,
  &_white {
    -webkit-text-stroke: 2px rgba(255, 255, 255, .03);
    color: rgba(255, 255, 255, .03);
  }
}

.section__header {
  @include respond-to($md) {
    justify-content: center;
    .heading_anim {
      font-size: 75px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @include respond-to($sm) {
    .heading_anim {
      font-size: 50px;
      font-weight: 500;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @include respond-to($xs) {
    .heading_anim {
      font-size: 40px;
    }
  }
}

.lightbox {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  justify-content: center;

  .lb-nav a {
    opacity: 1;
  }

  .lb-dataContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px;
    width: 100% !important;
    display: block !important;
    opacity: 1 !important;
  }
}


