.title {
  font-size: 30px;
}

.text{
  &_xl{
    font-size: 35px;
  }
  &_lg{
    font-size: 30px;
  }
  &_md{
    font-size: 20px;
  }
  &_sm{
    font-size: 15px;
  }
  &_xs{
    font-size: 14px;
  }
}



