.gallery {
  padding-bottom: 32px;
  position: relative;

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }

  &__link {
    position: relative;
    display: block;
    padding-top: 40%;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 64px;
      height: 64px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../assets/img/svg/zoom.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 1;
    }
  }

  .overlay {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 30px 54px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0;
    z-index: 2;
  }

  &__slide {
    opacity: .5;
  }

  .swiper-slide {
    width: 55%;
  }

  .swiper-slide-active {
    opacity: 1;

    .overlay {
      opacity: 1;
    }
  }

  .swiper-pagination-bullets {
    bottom: 0;

    .swiper-pagination-bullet {
      border-color: #000000;
    }
  }
}

.section-banner {
  padding-top: 70px;
  margin-bottom: 75px;

  &__sidebar {
    width: 380px;
  }

  &__logo {
    width: 252px;
    display: block;
    margin: 0 auto 70px;
  }

  &__wrap-img {
    height: 100%;
  }

  &__banner {
    position: relative;
    margin-left: 6.4%;
    flex-grow: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 8.75%;
    padding-right: 8.75%;
    padding-left: 8.75%;
    text-align: right;
    z-index: 1;

  }

  &__info {
    display: inline-block;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-weight: 500;
    line-height: 1;
    text-align: right;
    margin-bottom: 70px;

    .sub-text {
      display: flex;
      justify-content: space-between;
    }

    .building-area {
      line-height: .75;
      font-size: 175px;
      font-weight: 400;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .name-object {
      font-weight: 600;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    margin-left: 50px;
  }

  &__nav{
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }
  &__nav-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: $dark-100;
    border-bottom: 1px solid $gold;
    padding: 22px 30px 22px 35px;

    &:last-child {
      border-bottom: none;
    }
    &:hover {
      color: $gold;
    }
  }

  &__nav-icon {
    width: 41px;
    height: 42px;
    margin-right: 35px;
  }
}

@import '../layout/sections/single-article';
@import '../layout/sections/location';
@import '../layout/sections/documents';

.section-gallery {
  padding-bottom: 108px;
}

.section-building {
  padding-bottom: 87px;

  .swiper-slide {
    width: 39.75%;
  }

  .gallery__link {
    padding-top: 32%;
  }
}

.section-map {
  padding-top: 135px;
  padding-bottom: 110px;

  .part_left {
    width: 333px;
    margin-right: 57px;
  }

  .part_right {
    position: relative;
    flex-grow: 1;
    min-height: 582px;
  }

  &__wrap-maps {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 70vw;
    width: 70vw;
  }

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }

  &__list-location {

    background-color: $gold;
    font-weight: 500;
    font-size: 23px;
    color: #ffffff;
    line-height: 1;
  }

  &__item {
    padding: 32px 50px 33px;
    border-bottom: .3px solid #FFFFFF;
  }
}


