@import '../layout/sections/single-banner';
@import '../layout/sections/single-article';
@import '../layout/sections/location';
@import '../layout/sections/documents';

.section-gallery {
  padding-bottom: 108px;
}

.section-building {
  padding-bottom: 87px;

  .swiper-slide {
    width: 39.75%;
  }

  @include respond-to($md) {
    .swiper-slide {
      width: 55%;
    }
  }
}

.section-map {
  padding-top: 135px;
  padding-bottom: 110px;

  .section-map_mob{
    display: none;
  }

  .part_left {
    width: 333px;
    margin-right: 57px;
  }

  .part_right {
    position: relative;
    flex-grow: 1;
    height: auto;
  }

  &__wrap-maps {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 70vw;
    width: 70vw;
    height: 100%;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__list-location {

    background-color: $gold;
    font-weight: 500;
    font-size: 23px;
    color: #ffffff;
    line-height: 1;
  }

  &__item {
    padding: 32px 50px 33px;
    border-bottom: .3px solid #FFFFFF;
  }

  @include respond-to($xl) {
    .part_left {
      padding-left: 0;
    }
  }

  @include respond-to($lg) {
    .part_left {
      margin-right: 30px;
    }
    .section-map__item {
      padding: 25px 30px;
    }
    .section-map__list-location {
      font-size: 20px;
    }
    .part_right {
      min-height: 320px;
    }
  }

  @include respond-to($md) {
    padding-top: 100px;
    .container {
      flex-direction: column-reverse;
    }
    .part_left,
    .part_right {
      width: 100%;
      min-height: 0;
    }
    .section-map__wrap-maps {
      position: static;
      height: 400px;
    }
    .section-map__list-location {
      display: flex;
      flex-wrap: wrap;
      font-size: 15px;
      line-height: 22px;
    }

    &__item {
      width: 33.33%;
      order: 1;
      padding: 15px;

      &.wide {
        width: 100%;
        order: 2;
      }

      a {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }

  @include respond-to($sm){
    .section-map_mob{
      display: block;
    }
  }
}


