.section-building {
  padding-bottom: 87px;

  .swiper-slide {
    width: 39.75%;
  }

  @include respond-to($md) {
    .swiper-slide {
      width: 55%;
    }
  }
  @include respond-to($xs) {
    padding-bottom: 0;
  }
}
