.section-map {
  padding-top: 135px;
  padding-bottom: 110px;
  background-color: $dark-100;
&__top-content{
  justify-content: space-between;
}
  .sub-title {
    color: #fff;
    width: 35%;
    padding: 0 70px;
    max-width: 510px;
    line-height: 1.59;
  }
  .section__header {
    margin-bottom: 134px;
  }

  .section__title {
    color: #ffffff;
  }

  .part_left {
    width: 333px;
    margin-right: 57px;
  }

  .part_right {
    position: relative;
    flex-grow: 1;
    height: auto;
  }

  &__wrap-maps {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 70vw;
    width: 70vw;
    height: 100%;
    z-index: 1;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__list-location {

    background-color: $gold;
    font-weight: 500;
    font-size: 21px;
    color: #ffffff;
    line-height: 1;
  }

  &__item {
    padding: 32px 38px 33px;
    border-bottom: .3px solid #FFFFFF;
  }

  @include respond-to($xl) {
    .header{
      margin-bottom: 100px;
    }
    .part_left {
      padding-left: 0;
    }
    &__top-content{
      flex-wrap: wrap;
    }
    .sub-title{
      max-width: 70%;
      width: 100%;
      padding: 0;
      margin-bottom: 100px;
    }
  }

  @include respond-to($lg) {
    .part_left {
      margin-right: 30px;
    }
    .section-map__item {
      padding: 25px 30px;
    }
    .section-map__list-location {
      font-size: 20px;
    }
    .part_right {
      min-height: 320px;
    }
  }

  @include respond-to($md) {
    padding-top: 100px;
    padding-bottom: 76px;
    .container {
      flex-direction: column-reverse;
    }
    .sub-title{
      display: none;
    }
    .part_left,
    .part_right {
      width: 100%;
    }
    .part_right {
      min-height: 400px;
      margin-bottom: 33px;
    }
    .section-map__wrap-maps {
      width: 100vw;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
    .section-map__list-location {
      display: flex;
      flex-wrap: wrap;
      font-size: 15px;
      line-height: 22px;
    }

    &__item {
      width: 50%;
      padding: 18px 15px;

      a {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }

  @include respond-to($sm) {
    padding-top: 60px;
    .section-map_mob {
      display: block;
    }
    .section__header {
      display: flex;
      margin-bottom: 12px;
    }

    .section-map__item {
      padding: 15px;
      width: 100%;
    }
    .section-map__list-location {
      font-size: 17px;
      text-align: center;
    }
  }
  @include respond-to($xs){
    padding-top: 0;
  }
}