.section-article {
  padding: 65px 0 180px;

  .section__title {
    margin-bottom: 16px;
  }

  .dynamic-content {
    margin-bottom: 65px;
    max-width: 1304px;
  }

  .text_mob {
    display: none;
  }

  .desc-table {
    border-top: 1px solid $gold;
    border-bottom: 1px solid $gold;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;

    .container {
      display: flex;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      border-right: 1px solid $gold;
    }

    &__label {
      width: 240px;
      font-size: 17px;
      font-weight: 400;
      padding-right: 10px;
    }

    &__row {
      position: relative;
      display: flex;
      align-items: center;
      padding: 33px 0;

      &:after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 1px;
        background-color: $gold;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    &__col {
      position: relative;
      display: flex;
      width: 40%;

      &:nth-child(even) {
        padding-right: 10px;
      }

      &:nth-child(even) {
        width: 60%;
        padding-left: 7%;
        border-left: 1px solid $gold;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          height: 1px;
          width: 100vw;
          border-bottom: 1px solid $gold;
          z-index: 1;
        }
      }

      &:last-child {
        &:before {
          display: none;
        }
      }
    }

    &__column-download {
      width: 215px;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $gold;
      background-color: $gold;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .download-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;


    svg {
      display: block;
      width: 48px;
      height: 51px;
      margin-bottom: 20px;
    }
  }

  .swiper-container {
    padding-bottom: 120px;
  }

  .swiper-pagination-bullets {
    display: none;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet {
    border-color: $dark-100;
  }

  @include respond-to($xl) {
    .desc-table {
      font-size: 20px;

      &__label {
        width: 180px;
      }

      &__column-download {
        width: 180px;
      }
    }
  }

  @include respond-to($lg) {
    padding-bottom: 100px;
    .desc-table {
      .container {
        flex-direction: column;
      }
    }
    .desc-table__column-download {
      position: relative;
      width: 100%;
      border-right: none;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;

      &:before,
      &:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 50%;
        width: 100vw;
        transform: translateX(-50%);
      }

      &:before {
        height: 1px;
        border-bottom: 1px solid $gold;
        z-index: 1;
      }

      &:after {
        bottom: 0;
        z-index: -1;
        background-color: $gold;
      }

      .download-link {
        padding: 25px 25px 25px 0;
        flex-direction: row;

        svg {
          margin-right: 50px;
          margin-bottom: 0;
        }
      }
    }
    .desc-table__row {
      flex-direction: column;
      align-items: flex-start;
    }
    .desc-table__content {
      border-right: 0;
    }

    .desc-table__col {
      &:nth-child(n) {
        width: 50%;
      }

      &:nth-child(even) {
        padding-left: 35px;

        &:before {
          right: auto;
          left: 50%;
          width: 200vw;
          transform: translateX(-50%);
        }
      }
    }
  }

  @include respond-to($sm) {
    .swiper-container {
      padding-bottom: 60px;
    }
    .swiper-pagination-bullets {
      display: block;
    }
  }

  @include respond-to($xs) {
    padding-bottom: 110px;
    padding-top: 20px;
    .text_mob {
      display: flex;
      flex-wrap: wrap;
      font-size: 18px;
      line-height: 1;

      .text_label {
        font-size: 32px;
        margin-right: 18px;
      }
    }
    .text_desktop {
      display: none;
    }
    .desc-table {
      box-shadow: 0 4px 28px 5px rgba(0, 0, 0, 0.05);

      &__label {
        position: relative;
        width: 68px;
        padding-right: 15px;
        word-break: break-all;
        color: #9B9B9B;
        font-size: 13px;
        flex-shrink: 0;
      }

      &__row {
        width: 100%;
        flex-direction: row;
        overflow: hidden;
      }

      &__cell {
        &:nth-child(2n) {
          position: relative;
          padding-left: 24px;

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            height: 100vh;
            width: 1px;
            border-left: 1px solid $gold;
            transform: translateY(-50%);
            z-index: 1;
          }
        }
      }

      &__col:nth-child(n) {
        width: 100%;
        padding: 0;
        border-left: 0;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          height: 1px;
          left: 50%;
          transform: translateX(-50%);
          width: 150vw;
          display: block;
          border-bottom: 1px solid $gold;
          z-index: 1;
        }

        &:nth-child(2) {
          order: 1;

        }

        &:nth-child(2):before {
          display: none;
        }

        &:nth-child(1),
        &:nth-child(3) {
          .text_label {
            font-size: 40px;
          }
        }
      }

    }
    .section__title {
      font-size: 34px;
      margin-bottom: 14px;
    }
    .dynamic-content {
      margin-bottom: 55px;
    }
    .desc-table__column-download {
      padding-left: 10px;
      .download-link {
        padding-right: 0;

        svg {
          margin-right: 44px;
        }
      }
    }
  }
}

.particularity-list {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1.47;

  &__item {
    width: 20.5%;
    padding: 10px;
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 16px;
  }

  &__icon {
    width: 83px;
    height: 83px;
    margin-bottom: 27px;

    img {
      width: 100%;
      height: auto;
      display: inline-block;
      vertical-align: middle;
    }
  }

  @include respond-to($xl) {
    &__item {
      width: 23%;
    }
  }
  @include respond-to($lg) {
    flex-wrap: wrap;
    &__item {
      width: 45%;
      margin-bottom: 30px;
    }
  }
  @include respond-to($sm) {
    padding-bottom: 0;
    &__icon {
      margin: 0 auto 27px;
    }
    &__item {
      margin-bottom: 0;
      text-align: center;
    }
  }
}