.footer {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.43;
  display: flex;
  padding-right: 7%;
  background-color: $dark;
  &__logo-wrap {
    max-width: 475px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
    border-right: 0.5px solid #FCC21D;
  }

  .social-bar {
    padding: 36px 32px;
    max-width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 0.5px solid #FCC21D;
    border-left: 0.5px solid #FCC21D;
  }

  .social__link {
    width: 22px;
    height: 22px;
  }


  &__contacts {
    flex-grow: 1;

    .title {
      margin-bottom: 8px;
    }

    a {
      display: block;
    }

    span {
      display: block;
    }
  }

  &__contacts-item {
    display: flex;
    border-bottom: 0.5px solid #FCC21D;

    &:last-child {
      border-bottom: none;
    }

    .wrap-item {
      max-width: 335px;
      width: 30%;
      padding-top: 35px;
      padding-bottom: 35px;
      padding-right: 20px;
      flex-grow: 1;
      border-right: 0.5px solid #FCC21D;

      &:first-child {
        max-width: 538px;
        width: 40%;
        padding-left: 15%;
      }

      &:last-child {
        border-right: none;
      }

      &:nth-child(2) {
        padding-left: 60px;
      }

      &:nth-child(3) {
        padding-left: 74px;
      }
    }

    .tel .text_md {
      font-weight: 500;
      line-height: 1.8;
    }
  }
}