.footer {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.43;
  display: flex;
  padding-right: 7%;
  background-color: $dark;

  &__logo-wrap {
    max-width: 475px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
    border-right: 0.5px solid #FCC21D;
  }

  .social-bar {
    padding: 36px 32px;
    max-width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 0.5px solid #FCC21D;
    border-left: 0.5px solid #FCC21D;
  }

  .social__link {
    width: 22px;
    height: 22px;
    transition: .35s;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }


  &__contacts {
    flex-grow: 1;

    .title {
      margin-bottom: 8px;
    }

    a {
      display: block;
    }

    span {
      display: block;
    }
  }

  &__contacts-item {
    display: flex;
    border-bottom: 0.5px solid #FCC21D;

    a {
      transition: .35s;
    }

    a:hover,
    a:focus {
      color: $gold;
    }

    &:last-child {
      border-bottom: none;
    }


    .tel .text_md {
      font-weight: 500;
      line-height: 1.8;
    }
  }

  .wrap-item {
    max-width: 335px;
    width: 30%;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 20px;
    flex-grow: 1;
    border-right: 0.5px solid #FCC21D;

    &:first-child {
      max-width: 538px;
      width: 40%;
      padding-left: 15%;
    }

    &:last-child {
      border-right: none;
    }

    &:nth-child(2) {
      padding-left: 60px;
    }

    &:nth-child(3) {
      padding-left: 74px;
    }

  }

  @include respond-to($xl) {
    .wrap-item {
      width: 33.33%;
    }
    .wrap-item:first-child {
      padding-left: 9%;
    }
    .wrap-item:nth-child(2) {
      padding-left: 40px;
      flex-shrink: 0;
    }

    .wrap-item:nth-child(3) {
      padding-left: 50px;

    }
  }
  @include respond-to($lg) {
    padding-right: 0;
    .footer__contacts {
      .wrap-item {
        padding: 25px;
        font-size: 12px;
      }

      .tel {
        font-size: 14px;

        .text_md {
          font-size: 18px;
        }
      }
    }
    .social-bar {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  @include respond-to($md){
    .wrap-item:nth-child(n) {
      width: 100%;
      max-width: 100%;
      border: none;
    }

    .wrap-item{
      border-bottom: .5px solid $gold;
    }
    .footer__contacts{
      display: flex;
    }
    .footer__contacts-item{
      display: block;
      width: 50%;
      &:first-child{
        border-right: .5px solid $gold;
      }
    }
  }
}