.footer {
  color: #ffffff;
  font-size: 15px;
  line-height: 1.57;
  display: flex;
  padding-right: 7%;
  background-color: $dark;

  &__logo-wrap {
    max-width: 475px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
    border-right: 1px solid #FCC21D;
  }

  &__logo {
    width: 128px;
    display: inline-block;

    img {
      width: 100%;
      height: auto;
    }
  }

  .social-bar {
    padding: 36px 32px;
    max-width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #FCC21D;
    border-left: 1px solid #FCC21D;
  }

  .social__link {
    width: 22px;
    height: 22px;
    transition: .35s;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }


  &__contacts {
    flex-grow: 1;

    .title {
      margin-bottom: 30px;
      font-size: 16px;
      font-weight: 600;
    }

    a {
      display: block;
    }

    span {
      display: block;
    }
  }

  &__contacts-item {
    display: flex;
    border-bottom: 1px solid #FCC21D;

    a {
      transition: .35s;
    }

    a:hover,
    a:focus {
      color: $gold;
    }

    &:last-child {
      border-bottom: none;
    }


    .tel .text_md {
      font-weight: 500;
      line-height: 1.8;
    }

    .email {
      flex: 14;
      font-weight: 500;
    }
  }

  .work-row {
    display: flex;
    align-items: center;
  }

  .wrap-item {
    max-width: 335px;
    width: 30%;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 20px;
    flex-grow: 1;
    border-right: 1px solid #FCC21D;

    &:first-child {
      max-width: 538px;
      width: 40%;
      padding-left: 15%;
    }

    .tel-text {
      margin-bottom: 35px;
      line-height: 1;
    }

    &:last-child {
      border-right: none;
    }

    &:nth-child(2) {
      padding-left: 60px;
    }

    &:nth-child(3) {
      padding-left: 74px;
    }

  }

  @include respond-to($xxl) {
    .wrap-item:first-child {
      padding-left: 10%;
    }
  }

  @include respond-to($xl) {
    .wrap-item {
      width: 33.33%;
    }
    .wrap-item:first-child {
      padding-left: 9%;
    }
    .wrap-item:nth-child(2) {
      padding-left: 40px;
      flex-shrink: 0;
    }

    .wrap-item:nth-child(3) {
      padding-left: 50px;

    }
  }
  @include respond-to($lg) {
    padding-right: 0;
    .footer__contacts {
      .wrap-item {
        padding: 25px;
      }

      .tel-text {
        font-size: 14px;

        .text_md {
          font-size: 18px;
        }
      }
    }
    .social-bar {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  @include respond-to($md) {
    .footer__logo-wrap {
      display: none;
    }
  }
  @include respond-to($sm) {
    .footer__contacts-item {
      border-bottom: 0;
    }
    .footer__logo-wrap {
      display: flex;
      flex-grow: 0;
      width: 210px;
      border-top: 1px solid #FCC21D;
    }

    .social-bar {
      justify-content: space-around;
      padding-left: 14px;
      padding-right: 14px;

      img {
        width: 100%;
      }
    }

    .work-row {
      margin-bottom: 5px;
    }

    .footer__contacts-item {
      flex-direction: column;
      padding-top: 17px;
      padding-bottom: 20px;
      position: relative;

      &:last-child{
        padding-bottom: 38px;
        &:before {
          display: none;
        }
      }

      &:first-child {
        .work {
          display: none;
        }
      }

      .title {
        font-size: 19px;
        margin-bottom: 5px;
      }

      .wrap-item {
        width: 100%;
        border-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;

        &:last-child {
          margin-bottom: 20px;
        }
      }

      .work {
        position: relative;
        width: 100%;
        max-width: 100%;
        order: -1;
        padding-bottom: 23px;
        padding-top: 10px;
        font-size: 15px;

        .title {
          display: none;
        }
      }
    }

    .footer__contacts-item:before,
    .work:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      border-top: 1px solid $gold;
      z-index: 1;
    }

    .social__link {
      width: 30px;
      height: 30px;
    }

    .mob-order {
      display: flex;
      flex-direction: column;
      margin-top: 15px;

      .email {
        order: 1;
        margin-bottom: 25px;
      }

      .tel-text {
        order: 2;
        margin-bottom: 0;
      }
    }

    .wrap-item {
      font-size: 12px;
    }

    .working-hours {
      font-size: 22px;
      line-height: 1;
      margin-left: 7px;
    }

    .day-label {
      flex-shrink: 0;
      width: 55px;
    }
  }
  @include respond-to($xs) {
    .footer__logo-wrap {
      display: none;
    }
  }
}
