.header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;

  .header__logo {
    display: block;
    width: 77px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .35s;
    z-index: 1;
  }

  &_active {
    .header__inner {
      padding: 15px 0;
    }

    .header__logo {
      width: 60px;
      height: auto;
    }
  }


  &__inner {
    padding: 50px 0 30px;
    transition: .35s;
  }

  .container {
    border-bottom: 1px solid $gold;
  }

  .header__nav {
    display: flex;
    transition: .35s;
  }

  .menu_left {
    padding-right: 40px;
  }

  .menu_right {
    padding-left: 40px;
  }


  .btn-burger {
    border: none;
    background-color: transparent;
    display: none;
    padding: 5px;
    width: 31px;
    height: 27px;

    .line {
      display: block;
      width: 100%;
      height: 1px;
      margin-bottom: 7px;
      background-color: #707070;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .btn-close {
    position: absolute;
    left: 26px;
    top: 26px;
    border: none;
    background-color: transparent;
    display: none;
    background-image: url(../assets/img/svg/close.svg);
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .lang-switch {
    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      margin: 0 20px;
      font-weight: 500;
      font-size: 13px;
      color: #C7C7C7;
      text-transform: uppercase;
      line-height: 1;
    }

    &__link {
      padding: 20px 0;
      display: block;
      transition: .35s;

      &:hover,
      &:focus {
        color: $gold;
      }

      &.active {
        font-weight: 500;
        font-size: 20px;
        color: $gold;
      }
    }
  }

  .lang-switch_mob {
    display: none;
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
  }

  .dropdown {
    position: relative;

    & > .menu__link {
      padding-left: 9px;
      transition: opacity .35s;

      &:before {
        position: absolute;
        display: block;
        content: '';
        background-image: url(../assets/img/svg/dr-btn.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 9px;
        height: 7px;
        left: -7px;
        top: 40%;
        filter: grayscale(100%);
        z-index: 1;
      }

      &:hover:before {
        filter: grayscale(0);
      }
    }
  }

  @include respond-to($lg) {
    .header__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
    }
    .header__nav {
      flex-direction: column;
      max-width: 375px;
      width: 100%;
      position: fixed;
      background-color: #ffffff;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 100px 30px 45px;
      z-index: 1000;
      max-height: 100%;
      overflow-y: auto;
      transform: translateX(-100%);

      &.open {
        transform: translateX(0);
      }

      .menu {
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        font-size: 25px;
        color: #000000;
        text-align: center;

        &__item {
          margin-bottom: 10px;
          width: 100%;
        }

        &_left,
        &_right {
          padding: 0;
          width: 100%;
        }

        .sub-menu {
          position: relative;
          box-shadow: none;
          padding-top: 0;
          padding-bottom: 0;

          &.open {
            height: auto;
            opacity: 1;
          }

          &__link {
            padding: 10px 0;
          }

          &__toggle {
            //display: block;                   раскоментить по надобности
          }
        }
      }

    }
    .lang-switch {
      margin-top: 90px;
      justify-content: center;

      &__list {
        justify-content: center;
      }

    }

    .btn-close,
    .btn-burger,
    .lang-switch_mob {
      display: block;

      .lang-switch__link {
        padding: 14px 0;
      }
    }

    .menu__item:hover > .sub-menu {
      display: none;
    }

    .sub-menu__toggle_active + .sub-menu {
      display: block !important;
      opacity: 1;
      visibility: visible;
      height: auto;
    }

    .dropdown {
      position: relative;

      & > .menu__link:before {
        display: none;
      }
    }

    .header__logo {
      width: 50px;
      height: auto;
    }
    .menu_right{
      .menu__item:last-child{
        height: 100%;
      }
    }
  }
  @include respond-to($sm) {
    .btn-burger {
      width: 35px;
      height: 21px;
    }
    .lang-switch__link.active {
      font-size: 15px;
    }
  }
}


.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  z-index: 500;
}