.section_anim {
  opacity: 0;
  transform: translateY(100px);
  transition: .5s linear;

  .heading_anim {
    width: 0;
  }

  &.active {
    opacity: 1;
    transform: translateY(0);
    animation-delay: 2s;

    .heading_anim {
      width: 100vw;
    }
  }

  @include respond-to($md) {
    .heading_anim.active {
      .inner_text {
        width: 100vw;
        text-align: center;
      }
    }
  }
}

.heading_anim {
  font-weight: 600;
  font-size: 140px;
  line-height: 1;
  letter-spacing: 0.2em;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  transition: width 1.8s linear;
  z-index: 3;

  span {
    display: inline-block;
  }

  &_dark {
    color: rgba(0, 0, 0, .03);
    -webkit-text-stroke: 2px rgba(0, 0, 0, .03);
  }

  .white,
  &_white {
    -webkit-text-stroke: 2px rgba(255, 255, 255, .03);
    color: rgba(255, 255, 255, .03);
  }
}


.section {
  position: relative;

  &__title {
    font-weight: 500;
    font-size: 55px;
    color: $dark-100;
  }

  &__title-bg {
    position: absolute;
    left: 0;
  }

  &__title-bg-center {
    position: absolute;
    left: auto;
    right: auto;
    .inner_text {
      position: relative;
      text-align: center;
      width: 100%;
    }
  }

  &__header {
    min-height: 110px;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }

  @include respond-to($md) {
    &__title {
      padding-top: 20px;
      font-size: 50px;
    }
    &__header {
      margin-bottom: 0;
      justify-content: center;
      .heading_anim {
        font-size: 75px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
    }
  }

  @include respond-to($sm) {
    &__title {
      font-size: 40px;
      margin: 0 auto;
    }
    &__header {
      .heading_anim {
        font-size: 50px;
        font-weight: 500;
        left: 50%;
        transform: translateX(-50%);
      }
      .section__title-bg {
        text-align: center;
      }
    }
  }

  @include respond-to($xs) {
    &__header {
      .heading_anim {
        font-size: 40px;
      }
    }
  }
}




