.section {
  position: relative;

  &__title-bg {
    position: absolute;
    left: 0;
  }

  &__title-bg-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__header {
    min-height: 110px;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }
  @include respond-to($md){
    .section__header{
      margin-bottom: 0;
    }
  }
}

.section_anim{
  &.active{
    //.heading_anim{
    //  width: 100%;
    //}
  }
}


